* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #f0f0fc;
  margin: 0;
  padding: 0; }

header {
  margin-bottom: 20px;
  font-family: 'Roboto Mono', monospace; }
  header .navbar-nav {
    margin-left: auto; }
    header .navbar-nav .nav-item {
      justify-self: center;
      margin: 3px;
      padding: 2px; }
      header .navbar-nav .nav-item:hover {
        color: white;
        background-color: red; }

main {
  min-height: 100vh; }
  main h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 30px;
    padding: 10px; }
  main h2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 30px;
    padding: 30px; }
  main .card h5 {
    font-family: 'Poppins', sans-serif; }
  main .card p {
    font-family: 'Roboto', sans-serif; }
  main .card .btn {
    color: white;
    background-color: #c8102e;
    border-color: #c8102e;
    padding: 6px 12px; }
    main .card .btn i {
      margin-right: 8px; }
    main .card .btn:hover {
      background-color: #e01637;
      border-color: #e01637;
      border-width: 1.5px; }
  main .ubicacion h1 {
    font-family: 'Poppins', sans-serif; }
  main .ubicacion p {
    font-family: 'Roboto', sans-serif; }
  main .ubicacion .telefono h3 {
    font-family: 'Poppins', sans-serif; }
  main .contacto {
    display: flex;
    justify-content: center; }
    main .contacto form {
      border: 2px solid #ccc;
      border-radius: 10px;
      box-shadow: 0px 0px 10px #ccc;
      padding: 20px;
      width: 500px; }
      @media only screen and (max-width: 767px) {
        main .contacto form {
          max-width: 100%; } }
    main .contacto label {
      display: block;
      margin-bottom: 10px; }
    main .contacto input[type="text"],
    main .contacto input[type="email"],
    main .contacto input[type="tel"],
    main .contacto textarea {
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 20px;
      padding: 10px;
      width: 100%; }
    main .contacto .button-container {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-top: 20px; }
      main .contacto .button-container .submit-button,
      main .contacto .button-container .reset-button {
        background-color: #4CAF50;
        color: white;
        cursor: pointer;
        display: inline-block;
        font-size: 16px;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none; }
      main .contacto .button-container .submit-button {
        border: none;
        margin-right: 10px; }
      main .contacto .button-container .reset-button {
        background-color: #f44336;
        border: none; }

footer {
  background-color: #031926;
  color: #eef0eb;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
  margin-top: 20px; }
  footer .root {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    footer .root .horario {
      text-align: center;
      flex: 1; }
      footer .root .horario .boton {
        background-color: #FF0000;
        color: #FFFFFF;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        opacity: 0.6;
        transition: all 0.3s ease; }
        footer .root .horario .boton:hover {
          opacity: 1;
          transform: scale(1.2); }
    footer .root .derechos {
      text-align: center;
      flex: 1; }
    footer .root .redes {
      text-align: center;
      flex: 1; }
      footer .root .redes ul {
        list-style: none;
        margin: 0;
        padding: 0; }
        footer .root .redes ul:hover a {
          filter: blur(2px); }
        footer .root .redes ul li {
          display: inline-block;
          margin: 0 10px;
          width: 40px;
          height: 40px;
          text-align: center; }
          footer .root .redes ul li .facebook:hover {
            background: #3b5999; }
          footer .root .redes ul li .twitter:hover {
            background: #55acee; }
          footer .root .redes ul li .instagram:hover {
            background: #e4405f; }
          footer .root .redes ul li a {
            display: block;
            padding: 0 10px;
            background: #FF0000;
            color: #ffffff;
            border-radius: 10%;
            font-size: 20px;
            box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
            transition: .2s; }
            footer .root .redes ul li a:hover {
              transform: translateY(-3px) scale(1.1);
              box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
              filter: none; }
  @media only screen and (max-width: 768px) {
    footer .root {
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    footer .horario,
    footer .derechos,
    footer .redes {
      margin: 10px 0;
      flex: 0 0 auto;
      text-align: center; } }
