*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$colorfondo: #fbfbff;
$colorfacebook: #3b5999;
$colortwitter: #55acee;
$colorinstagram: #e4405f;

@import "body";
@import "header";
@import "main";
@import "footer";
